<div class="d-flex container">
    <div id="chatContainer" class="p-5 mb-2 bg-light text-dark mt-5 d-block container ">
        <h3>Mi Chat</h3>
        <form>
            <input type="text" id="author" class="form-control" placeholder="Tu nombre">
            <input type="text" id="text" class="form-control" placeholder="Escribe tu comentario">
            <input value="enviar" class="btn btn-success" id="btn-chat" onclick="addMessages()">
        </form>
    </div>

    <div class="mt-5 d-block container " id='messages'></div>

</div>