<h2 class="text-center mt-5 mb-5 fw-bolder text-decoration-underline text-info">
    INGRESE PRODUCTOS
</h2>
<form class="form-control container">
    <div class="row">
        <div class="col">
            <label for="choose">Nombre</label>
            <input type="text" class="form-control" name="title" id="title" required minlength="1">
        </div>
        <div class="col">
            <label for="choose">Precio:</label>
            <input type="text" class="form-control" name="price" id="price" required minlength="1">
        </div>
        <div class="col">
            <label for="choose">Foto URL:</label>
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" required minlength="1">
        </div>
    </div>
    <button id="btnId" class="btn btn-outline-info mt-3 mb-5 d-grid gap-2 col-4 mx-auto">Enviar</button>
</form>

<script src="/public/cliente.js"></script>